#edit_toolbar {
	position: fixed;
	top: -39px;
	left: 0px;
	right: 0px;
	padding: 5px 0;
	background-color: #f7f7f7;
	border-bottom: 1px #ddd solid;
		-webkit-transition: top 250ms;
	transition: top 250ms;
	text-align: center;
	z-index: 50;
}
#edit_toolbar.edit_shown {
	top: 0;
}
#edit_nodetype_container {
	width: 200px;
	position: relative;
	display: inline-block;
	text-align: left;
}
#edit_nodetype_button {
	width: 196px;
}
#edit_nodetype_dropdown {
	position: absolute;
	top: 27px;
	left: 2px;
	visibility: hidden;
	background-color: white;
	width: 196px;
}
#edit_nodetype_dropdown.edit_shown {
	visibility: visible;
}
.edit_nodetype_item {
	height: 30px;
	border: 1px #ccc solid;
	padding: 0 10px;
	overflow: hidden;
	cursor: pointer;
}
.edit_nodetype_item:hover,
.edit_nodetype_item:hover > * {
	color: highlighttext !important;
	background-color: highlight !important;
}
.edit_nodetype_item + .edit_nodetype_item {
	border-top: none;
}
.edit_nodetype_item > * {
	line-height: 30px;
	vertical-align: top;
	margin: 0;
	border: 0;
	padding: 0;
	white-space: nowrap;
}
#edit_toolbar span {
	white-space: nowrap;
}
#edit_toolbar button,
#edit_toolbar select,
#edit_toolbar input[type="button"] {
  		filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#ffffff, EndColorStr=#cccccc);
		background: -webkit-linear-gradient(#fff, #eee 10%, #ddd 90%, #ccc);
	background: linear-gradient(#fff, #eee 10%, #ddd 90%, #ccc);
	margin: 2px;
	border: 1px #ccc solid;
	min-width: 24px;
	padding: 2px;
	border-radius: 3px;
	line-height: 16px;
}
#edit_toolbar button > img {
	margin: 0 -1px;
	vertical-align: bottom;
}
button#edit_bold {
	font-weight: bold;
}
button#edit_italic {
	font-style: italic;
}
button#edit_underline {
	text-decoration: underline;
}
button#edit_link {
	text-decoration: underline;
	color: blue;
}
#edit_toolbar button.edit_selected {
  		filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr=#cccccc, EndColorStr=#ffffff);
		background: -webkit-linear-gradient(#ccc, #ddd 10%, #eee 90%, #fff);
	background: linear-gradient(#ccc, #ddd 10%, #eee 90%, #fff);
}
#edit_toolbar button.edit_disabled {
	background: #ddd;
	color: #999;
}
#edit_toolbar button#edit_link.edit_disabled {
	color: #99f;
}
#edit_toolbar span.edit_radio_buttons {
	margin: 2px;
}
#edit_toolbar span.edit_radio_buttons > button {
	border-left: 0;
	margin: 0;
	border-radius: 0;
}
#edit_toolbar span.edit_radio_buttons > button:first-child {
	border-left: 1px #ccc solid;
	border-radius: 3px 0 0 3px;
}
#edit_toolbar span.edit_radio_buttons > button:last-child {
	border-radius: 0 3px 3px 0;
}
#edit_chain {
	display: inline-block;
	width: 20em;
	text-align: right;
}
.edit_placeholder {
	color: #999;
}
